html, body {
    background-color: #292c30;
    color: #ddc7a1;
}

h2 {
    text-align: center;
}

.carousel {
    margin: 0 auto;
    max-width: 50%;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: #00000080;
    box-shadow: 0 0 10px #00000080;
    border-radius: 25%;
    width: 50px;
    height: 50px;
}

.standalone {
    display: block;
    text-align: center;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}
